* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}

#container {
    min-height: 100%;
    max-width: 1500px;
    margin: auto;
}

#main {
    overflow: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#home-page {
    background-image: url(imgs/background_wave_02_copy.png);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#story-page {
    background-image: url(imgs/background_wave_07_copy.png);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#projects-page {
    background-image: url(imgs/background_wave_07_copy.png);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#contact-page {
    background-image: url(imgs/background_wave_06.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    font-family: 'Exo', sans-serif;
}
button {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    opacity: 1;
}

/* nav bar */

nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    /* background-color: rgba(130, 130, 130, .8); */
}
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
}

nav li {
    list-style-type: none;
    margin-right: 1.8rem;
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    display: block;
    font-size: .8rem;
    color: rgb(0, 0, 0);
    padding: .9em;
}

nav a:hover {
    color: white;
}

.toggle-button {
    position: absolute;
    display: none;
    top: 1.2rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2rem;
    height: 1.4rem;
}

.toggle-button .bar {
    height: 0.25rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

#navbar-button {
    display: none;
    width: 4.2rem;
    height: 1.95rem;
    margin: 1rem;
}

#navbar-button a {
    font-size: .7rem;

}

/* index page */

.main-headers {
    font-size: 14vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 32%;
    right: 8%;
}
.main-headers > h1{
    font-size: .75em;
    margin: 0;
    padding: 0;
    text-align: right;
    line-height: 1em;
}
.main-headers > p {
    font-size: .15em;
    margin: 0;
    padding: 0;
    text-align: right;
}
.main-headers > h3 {
    font-size: .3em;
    margin: 0;
    padding: 0;
    text-align: right;
}
button {
    background-color: rgb(5, 17, 242);
    padding: 1em;
    border: unset;
    border-radius: 2em;
}
button a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.1em;
}
.main-projects-button {
    align-self: flex-end;
    margin-top: 1.2rem;
}

/* my story page */

.container-container {
    display: flex;
    align-items: center;
}

.main-my-story-container {
    display: flex;
    justify-content: center;
}

.my-story-container {
    display: flex;
    font-size: 1.1rem;
    width: 75%;
}

.my-story-section {
    flex: 60%;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, .7);
}

.my-story-section p {
    padding-top: .8em;
}

.skills-section {
    display: flex;
    align-items: center;
    flex: 38%;
    margin-left: 4em;
}

.skills {
    width: 100%;
    height: auto;
    background-color: rgba(5, 17, 242, .9);
    padding: 1.5em;
    border-radius: 1em;
}

.skills h3 {
    font-size: 1.35rem;
}

.skills p {
    font-size: 1.1rem;
    padding-left: .3rem;
}

.skills > div {
    width: 100%;
    height: 1.85rem;
    margin-top: 1.8rem;
    background: rgba(255, 255, 255, 0.3);
}

.skills-text {
    background: rgba(255, 255, 255, .8);
    width: 100%;
}

.my-story-container h2 {
    margin: 0;
}

.my-story-container h3 {
    margin: 0;
    color: white;
}

/* projects page */

.projects-container-container {
    display: flex;
    align-items: center;
}

.main-projects-container {
    display: flex;
    justify-content: center;
}

.projects-container {
    display: flex;
    width: 82%;
}

.projects-wrap {
    width: 45%;
    flex: 40%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1rem;
}

.globe-wrap {
    flex: 30%;
    margin-left: 8%;
}

.circle1 {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circle1 svg {
    display: flex;
    position: absolute;
    fill: rgb(5, 17, 242);
}

.circle1 svg circle {
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
}

.circle1 svg circle:hover {
    cursor: pointer;
    opacity: 1;
}

.project-text {
    font-size: .9rem;
    margin: 1rem;
    margin-top: 0rem;
}

.website-image {
    width: 100%;
    height: auto;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.8rem;
}

.project-buttons button {
    width: 9rem;
}

.project-container h4 {
    margin: 1rem;
    margin-bottom: .5rem;
}

/* contact page */

.contact-message {
    font-size: 14vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 6%;
}
.contact-message > h2 {
    font-size: .51em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.contact-message > p {
    font-size: .2em;
    margin: 0;
    padding: 0;
}
.contact-email-button  {
    margin-top: 1.4em;
    padding: 1em;
    align-self: flex-start;
    width: 15em;
}
.contact-email-button a {
    display: block;
}

/* footer */

footer {
    width: 100%;
    position: relative;
    height: 4rem;
    margin-top: -4rem;
    background-color: rgba(130, 130, 130, .8);
    font-size: .85rem;
    clear: both;
    z-index: 500;
}

.footer {
    display: flex;
}

.footer > p {
    margin-top: 1rem;
    margin-left: 1rem;
    flex: 50%;
    width: 480px;
    height: 2rem;

}
.footer a {
    text-decoration: none;
    color: inherit;
}

.social-container {
    margin-top: .8rem;
    margin-right: 1rem;
    width: 35px;
    height: 35px;
}

.social-github > img {
    max-width: 25px;
    height: auto;
}

/* responsive */

@media screen and (max-width: 600px) {

    /* navbar */

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding-top: 4rem;
        background-color: rgba(255, 255, 255, .9);
    }

    nav li {
        text-align: start;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        line-height: 1.8rem;
    }

    nav li:nth-child(5) {
        padding-bottom: .8rem;
    }

    .navbar-links a:hover {
        background-color: rgba(130, 130, 130, .7);
    }

    nav a {
        padding: .1rem .2rem;
    }

    .navbar-links.active {
        display: flex;
    }

    nav li:nth-child(3) { /* hide projects link from list */
        display: none;
    }

    #navbar-button { /* show seperate projects button */
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 1px;
    }

    /* home page */

    #home-page {
        background-position-x: -19rem;
    }

    /*footer*/

    footer {
        font-size: .7rem;
    }

}

@media screen and (max-width: 750px) {

    /* my story page */

       .my-story-container {
        flex-direction: column;
        font-size: .9rem;
        width: 90%;
    }

    .skills {
        padding: 2rem;
    }

    .skills-section {
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* #story-page {
        background-size: contain;
    } */
    
    /*projects page*/

    .globe-wrap {
        display: none;
    }

    .project-wrap {
        margin-bottom: 2rem;
        padding-bottom: 0rem;
    }

    #pbox1, #pbox2, #pbox3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.8rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    .projects-container {
        width: 95%;
    }

    .project-buttons {
        margin-bottom: 2rem;
    }

    .project-text {
        font-size: .8rem;
    }

}

@media screen and (min-width: 750px) {
    #pbox2, #pbox3 {
        display: none;
    }
}

@media screen and (min-width: 700px) {

    /* home page */

    .main-headers {
        font-size: 12vw;
    }

    /* contact page */

    .contact-message {
        font-size: 12vw;
    }

}
